{% load static %}
<section id="features" class="section-padding">
    <div class="container">
        <div class="section-header text-center">
            <h2 class="section-title wow fadeInDown" data-wow-delay="0.3s">Nossos Recursos</h2>
            <div class="shape wow fadeInDown" data-wow-delay="0.3s"></div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                <div class="content-left">
                    {% for lf in left_features %}
                        <div class="box-item wow fadeInLeft" data-wow-delay="{{ lf.delay }}">
                            <span class="icon">
                                <i class="{{ lf.icon }}"></i>
                            </span>
                            <div class="text">
                                <h4>{{ lf.name }}</h4>
                                <p>{{ lf.description }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                <div class="show-box wow fadeInUp" data-wow-delay="0.3s">
                    <img src="{% static 'img/feature/intro-mobile.png' %}" alt="">
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                <div class="content-right">
                    {% for rf in right_features %}
                        <div class="box-item wow fadeInRight" data-wow-delay="{{ rf.delay }}">
                            <span class="icon">
                                <i class="{{ rf.icon }}"></i>
                            </span>
                            <div class="text">
                                <h4>{{ rf.name }}</h4>
                                <p>{{ rf.description }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>